<h1>New User</h1>

<%= render 'form' %>

<%= link_to 'Back', users_path %>

<div id="page">
    <div class="fon">
    	<%=image_tag("regfon.jpg")%>
    </div>
</div>

<div class ="blreg">
    <div class = "regreg"></div>
    </div>   
     <div class="block_photo">
            <div class="button"></div>
            <div class="button"></div>
            <div class="button"></div>
            <div class="button"></div>
    </div> 
    <div class="text1">
        <div class="a"> Registration </div>
    </div>
    <div class="text2">
        <div class="b"> Enter </div>
    </div>
</div>
