<%provide(:css , "game.css")%>


<button id="button_start_game" >start game</button>


<div id="game_board">
</div>





<script type="text/javascript">
$(document).ready(function(){
    $("#button_start_game").click(function(){
		$.get( "questions.html", { id : <%=@result.id %> ,tip: 1 } )
		  .done(function( result) {
		    $("#game_board").html(result);
		  });
    });
});
</script>
