<% provide(:load , "yes") %>
<div class="question_block">
	Игра оконченна.
	<%if(@result.question_count>=15)%>
		Вы выйграли!
	<%else%>
		Вы проиграли.
	<%end%>
	Вопросов отвеченно <%=@result.question_count%> .
</div>
	<%=link_to "new game" , game_path , :id=>'button_submit_answer1'%>
	<%=link_to  "my profile" , current_user,:id=>'button_submit_answer3' %>
