<% provide(:css , "main1.css")%>
<div id ="center_block_green">
    <div>
        <h1>Welcome to Auxilium</h1>
         <br><input class="center_button_submit_green" type="submit" value="Login">
         <br><input class="center_button_submit_green" type="submit" value="Registration">
    </div>
</div>   
