<div id="page">
    <div class="fon">
    	<%=image_tag("startpage.jpg")%>
    </div>
   <div class="block">
            <div class="button"></div>
            <div class="button"></div>
    </div> 
    <div class="block_center">
            <div class="logo"></div>
    </div>
    <div class="block_center1">
            <div class="logo1"></div>
        </div>
     <div class="block_center2">
            <div class="logo2"></div>
        </div>
    
    <div class="block_photo">
            <div class="button1"></div>
            <div class="button1"></div>
            <div class="button1"></div>
    </div> 
     <div class="block_photo1">
            <div class="button2"></div>
            <div class="button2"></div>
            <div class="button2"></div>
    </div> 
</body>