
html {height: 100%;
      width: 100%}
body{
    background-image: url(question.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y:center;
    background-position-x:center;
    height: 100%;
    width:100%;
    font-size: 100%;
    margin:0;
    position: absolute;
}