/*
html {height: 100%;
      width: 100%}
*/
body{
    background-image: image_url("regfon.jpg");
    background-repeat: no-repeat;
    background-size: cover;
 /*
    background-position-y:center;
 */
    background-position-x:center;
    height: 100%;
    width:100%;
    font-size: 100%;
    margin:0;
    position: absolute;
}
#center_block_green{
    width:28.125%;
    text-align:center;
    background-color:rgba( 98, 171, 97, 0.5);
    min-height:300px;
    margin:15.7777778%  auto 0 auto;
    padding: 1%;/*added*/
}
#center_block_green div h1{
    border: none;
    color:#A3FFD6;
    font-family: sans-serif;
    margin-bottom:2%;
/*
    font-size:2em;
    padding-top:7%;
*/
    font-size:2.2em;/*added*/
}
.center_button_submit_green{
    width: 74.0740741%;
    padding:3% 0;
    background-color: #A3FFD6;
    opacity: 0.7;
    border: none;
    margin-top:4.81927711%;
    text-align: center;
    font-size:2em;
    font-family: sans-serif;
  transition-duration: 0.4s;
}
.center_button_submit_green:hover {
    background-color: black; 
    color: #A3FFD6;
}