// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#page {
    max-width:1920px;
    max-height: 1080px;
    margin: 0;
}
.fon{
    width: auto;
    height: auto;
}
.profil_block{
    width: 513px;
    height: 584px;
    position: absolute;
    left: 475px;
    top: 251px;
}
.prof{
    background-color:#c59e2a;
    height: 584px;
    opacity: 0.75;
}
.black_block1{
    width: 141px;
    height: 155px;
    position: absolute;
    left: 506px;
    top: 279px;
}
.block_1{
    background-color:#392c13;
    height: 155px;
    opacity: 0.7;
}
.black_block2{
    width: 141px;
    height: 38px;
    position: absolute;
    left: 506px;
    top: 455px;
}
.block_2{
    background-color:#392c13;
    height: 38px;
    opacity: 0.7;
}
.block_3{
    width: 213px;
    height: 158px;
    position: absolute;
    left: 506px;
    top: 530px;
}
.pole{
    height: 34px;
    margin-bottom: 28px;
    background-color: #392c13;
    opacity: 0.75;
}
.block_4{
    width: 36px;
    height: 33px;
    position: absolute;
    left: 815px;
    top: 279px;
}
.button{
    height: 33px;
    background-color: #e6ce4e;
    opacity: 0.7;
}
.block_5{
    width: 36px;
    height: 33px;
    position: absolute;
    left: 887px;
    top: 279px;
}
.button1{
    height: 33px;
    background-color: #e6ce4e;
    opacity: 0.7;
}
.block_6{
    width: 174px;
    height: 264px;
    position: absolute;
    left: 782px;
    top: 327px;
}
.big_yellow{
    height: 264px;
    background-color: #e6c755;
    opacity: 0.7;
}
.profil_block2{
    width: 335px;
    height: 584px;
    position: absolute;
    left: 1080px;
    top: 251px;
}
.prof2{
    background-color:#d6d958;
    height: 584px;
    opacity: 0.75;
}
.letsplay{
    width: 275px;
    height: 122px;
    position: absolute;
    left: 1110px;
    top: 312px;
}
.play{
    background-color:#c29c29;
    height: 122px;
    opacity: 0.6;
}
.text {
    width: 270px;
    height: 95px;
    position: absolute;
    left:1130px;
    top: 350px;
}
.a{
    font-size: 28pt;
    font-family: monospace;
    color:yellow;
    font-weight: bolder;
}


#page {
    max-width:1920px;
    max-height: 1080px;
    margin: 0;
}
.fon{
    width: auto;
    height: auto;
}
.blreg{
    width: 600px;
    height: 400px;
    position: absolute;
    left: 660px;
    top: 340px;
}
.regreg{
    background-color:mediumseagreen;
    height: 400px;
    opacity: 0.5;
}
.block_photo{
    width: 300px;
    height: 230px;
    position: absolute;
    left: 810px;
    top: 475px;
}
.button {
    height: 50px;
    margin-bottom: 10px;
    background-color: #A3FFD6;
    opacity: 0.75;
}
.text1 {
    width: 270px;
    height: 95px;
    position: absolute;
    left:825px;
    top: 380px;
}
.a{
    font-size: 28pt;
    font-family: monospace;
    color:white;
    font-weight: bolder;
}
.text2 {
    width: 270px;
    height: 95px;
    position: absolute;
    left:900px;
    top: 780px;
}
.b{
    font-size: 28pt;
    font-family: monospace;
    color:white;
    font-weight: bolder;
}